<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button
      routerLink="../"
      routerDirection="back"
      fill="clear"
      shape="round"
      color="translucent"
    >
      Back
      <ion-icon slot="start" name="chevron-back"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Your Cart</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card *ngFor="let item of cart">
    <ion-card-header>      
      <ion-card-title>{{ item.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-chip>
        <ion-button shape="round" fill="clear" color="dark" (click)="updateItem(item.values().id, -1)">
          <ion-icon
            name="remove"            
          ></ion-icon>
        </ion-button>
        <ion-label> ({{ item.amount }})</ion-label>
        <ion-button shape="round" fill="clear" color="dark" (click)="updateItem(item.id, 1)">
          <ion-icon name="add"></ion-icon>
        </ion-button>
      </ion-chip>
    </ion-card-content>
  </ion-card>
  
</ion-content>
