<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button
      (click)="back()"
      routerDirection="back"
      fill="clear"
      shape="round"
      color="translucent"
    >
      Back
      <ion-icon slot="start" name="chevron-back"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Your Cart</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <!-- Adjusting the column size for larger screens -->
      <ion-col>
        <ion-card *ngFor="let item of cartSrv.cart">
          <ion-item lines="none">
            <ion-thumbnail slot="start">
              <!-- <img [src]="cartSrv.getImg(item.id)"/> -->
            </ion-thumbnail>
            <ion-label>
              <h2>{{ item.name }}</h2>
              <!-- <p>Amount: {{ item.amount }}</p> -->
               <!-- <p>Price: {{ item.price * item.amount }} $</p> -->
               <p>Price: {{ item.price }} $</p>
            </ion-label>
            <ion-buttons slot="end">
              <ion-button
                fill="clear"
                (click)="cartSrv.updateItem(item.id, -1)"
              >
                <ion-icon slot="icon-only" name="remove"></ion-icon>
              </ion-button>
              <ion-button fill="clear" (click)="cartSrv.updateItem(item.id, 1)">
                <ion-icon slot="icon-only" name="add"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-item>
      <ion-label> Total {{cartSrv.cartTotal}}$</ion-label>
    </ion-item>
    <ion-row>
      <ion-col size="12">
        <ion-button expand="block" fill="clear" shape="round">
          Proceed
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
