<ion-content [fullscreen]="true">
  <ion-grid class="ion-align-items-center ion-justify-content-center">
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <h1>Page Not Found</h1>
        <p>We could not find what you were looking for.</p>
        <p>Please contact the owner of the site that linked you to the original URL and let them know their link is broken.</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <ion-button routerLink="/" color="primary" expand="expand" fill="clear">
          Home Page
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
