.card-container {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    /* Adjust the border radius as needed */
  }
  
  .card-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 16px;
    color: #fff;
    border-radius: 0 0 10px 10px;
    /* Match the bottom border radius of the card container */
    text-align: center;
    /* Center text within the card */
    z-index: 1;
    /* Ensure the content is above the images */
  }
  
  .product-image {
    border-radius: 7px;
    border: 1px solid #000;
    /* Adjust border style and color as needed */
    filter: grayscale(100%);
    /* Apply grayscale filter to product images */
    object-fit: cover;
    width: 100%;
    /* Ensure the image fills the container */
    height: auto;
    /* Maintain aspect ratio */
  }