<ion-menu contentId="menu-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>SULA</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-accordion-group>
      <ion-accordion value="man">
        <ion-item slot="header" color="translucent" lines="none">
          <ion-label>Men's</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-item
            *ngFor="let item of manMenu"
            routerLink="../products/{{ item.route }}"
          >
            <ion-label>{{ item.name }}</ion-label>
          </ion-item>
        </div>
      </ion-accordion>
      <ion-accordion value="woman">
        <ion-item slot="header" color="translucent" lines="none">
          <ion-label>Women's</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-item
            *ngFor="let item of womanMenu"
            routerLink="../products/{{ item.route }}"
          >
            <ion-label>{{ item.name }}</ion-label>
          </ion-item>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </ion-content>
  <ion-footer>
    <ion-toolbar>
      <ion-item>
        <ion-label>Login</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Sign Up</ion-label>
      </ion-item>
      <div style="height: 50px"></div>
    </ion-toolbar>
  </ion-footer>
</ion-menu>

<div class="ion-page" id="menu-content">
  <ion-header style="align-items: center; justify-content: center">
    <ion-toolbar color="translucent">
      <ion-grid fixed>
        <ion-row style="align-items: center">
          <ion-col size="3" style="text-align: center">
            <ion-menu-button style="float: left"></ion-menu-button>
          </ion-col>
          <ion-col size="6"><h4>SULA</h4></ion-col>
          <ion-col size="3" style="text-align: center">
            <ion-button
            routerLink="../../../cart"
            routerDirection="forward"
            fill="clear"
          >
            <ion-icon
              name="cart-outline"
              size="large"
              style="float: right"
            ></ion-icon>
          </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12" size-md="12" size-lg="6">
          <div class="card-container">
            <div class="card-background">
              <img
                src="../../../assets/imgs/man/t-shirt/header.jpeg"
                class="image-content"
                style="width: 100%; height: 360px"
              />
            </div>
            <div class="card-content">
              <h1 class="image-content">MEN'S T-SHIRT</h1>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12" sizeMd="6" sizeLg="4" *ngFor="let item of products">
          <app-product [product]="item"></app-product>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-footer color="translucent">
      <ion-grid>
        <ion-row>
          <ion-col size="6" size-md="6" size-lg="4" style="text-align: center">
            <ion-item color="translucent" *ngFor="let item of footerColumn1">
              <ion-label color="medium">{{ item.name }}</ion-label>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item color="translucent" *ngFor="let item of footerColumn2">
              <ion-icon
                *ngIf="item.icon"
                slot="start"
                [name]="item.icon"
              ></ion-icon>
              <ion-label color="medium">{{ item.name }}</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-title color="light">SULA</ion-title>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-footer>
  </ion-content>
</div>
