<ion-toolbar *ngIf="platformSrv.currentPlatform === 'desktop'" class="desktop-toolbar">
  <ion-grid fixed>
    <!-- Top Row: Logo + Cart + Avatar -->
    <ion-row class="top-row">
      <ion-col size="2" class="logo-col" routerLink="">
        <h3 class="logo">SULA</h3>
      </ion-col>

      <ion-col size="8"></ion-col> <!-- Spacer -->

      <ion-col size="1" class="icon-col">
        <ion-button fill="clear" (click)="navCart()" class="cart-button">
          <ion-icon name="bag-handle-outline" size="large"></ion-icon>
          <ion-badge color="primary" *ngIf="cartCount > 0">{{cartCount}}</ion-badge>
        </ion-button>
      </ion-col>

      <ion-col size="1" class="icon-col" *ngIf="!showAvatar">
        <ion-button fill="clear" expand="block">
          <ion-avatar slot="icon-only">
            <img src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
        </ion-button>
      </ion-col>
    </ion-row>

    <!-- Bottom Row: Navigation Links -->
    <ion-row class="bottom-row nav-links">
      <ion-col class="tab-col">
        <ion-tab-button (mouseenter)="toggleList('manMenu')"
          (mouseleave)="activeMenu === 'manMenu' ? toggleList('manMenu') : null" tab="man">
          <ion-label>Man</ion-label>
        </ion-tab-button>

      </ion-col>

      <ion-col class="tab-col">
        <ion-tab-button (mouseenter)="toggleList('womanMenu')"
          (mouseleave)="activeMenu === 'womanMenu' ? toggleList('womanMenu') : null" tab="woman">
          <ion-label>Woman</ion-label>
        </ion-tab-button>

      </ion-col>

      <ion-col class="tab-col">
        <ion-tab-button tab="about">
          <ion-label>About</ion-label>
        </ion-tab-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="sub-menu-container">
    <div class="sub-menu" [class.active]="activeMenu === 'manMenu'">
      <ion-item *ngFor="let item of manMenu" [routerLink]="'/collection/' + item.route" (click)="closeMenu()">
        <ion-label>{{ item.name }}</ion-label>
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
      </ion-item>
    </div>
    <div class="sub-menu" [class.active]="activeMenu === 'womanMenu'">
      <ion-item *ngFor="let item of womanMenu" [routerLink]="'/collection/' + item.route" (click)="closeMenu()">
        <ion-label>{{ item.name }}</ion-label>
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
      </ion-item>
    </div>
  </div>
</ion-toolbar>