<ion-toolbar *ngIf="platformSrv.currentPlatform === 'mobile'">
  <ion-grid>
    <ion-row style="align-items: center">
      <ion-col size="3" style="text-align: center">
        <ion-menu-button style="float: left"></ion-menu-button>
      </ion-col>
      <ion-col size="6" routerLink=""><h4>SULA</h4></ion-col>
      <ion-col size="3" style="text-align: center">
        <ion-button routerDirection="forward" [routerLink]="'/cart'" fill="clear" style="float: right">
          <ion-icon
            name="cart-outline"
            size="large"
            style="float: right"
          ></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-toolbar>
